<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3XbsqLCXXF_pXDdcdAnO6RTiCONZ3p68">
  </script>
  <script type="text/javascript">
      var geocoder;
      var map,map2;
      function initialize() {
          geocoder = new google.maps.Geocoder();
          var myLatlng = new google.maps.LatLng(37.51693,15.105613);
          var mapOptions = {
              center: myLatlng,
              zoom: 18
          };
          map = new google.maps.Map(document.getElementById("map-canvas"),
                  mapOptions);
          var marker = new google.maps.Marker({
              position: myLatlng,
              map: map,
              title:"Museo Informatico"
          })};
      function codeAddress() {
          var address = document.getElementById("address").value;
          geocoder.geocode( { 'address': address}, function(results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                  map.setCenter(results[0].geometry.location);
                  var marker = new google.maps.Marker({
                      map: map,
                      position: results[0].geometry.location
                  });
              } else {
                  alert("Geocode was not successful for the following reason: " + status);
              }
          })};
  </script>
</head>
<body onload="initialize()">

<script type="text/javascript">
    $(document).ready(function(){
        if(document.URL.indexOf("#")==-1)
        {
            url=document.URL+"#";
            location="#";
            location.reload(true);
        }
    });
</script>

<div class="page-header" align="center-right">
  <h1><small>Contatti</small></h1>
  <div class="row">
    <div class="col-md-6" align="center">
      <%= image_tag "avatar_andrea.jpg", :class => 'img-circle img-responsive', :style => 'width: 75px; height: 75px; '%>
      <a href="http://andreabattaglia.altervista.org">Andrea Battaglia</a>
      </div>
    <div class="col-md-6" align="center">
      <%= image_tag "avatar_gabriele.jpg", :class => 'img-circle img-responsive', :style => 'width: 75px; height: 75px; '%>
      <a href="http://gabrielebaldoni.altervista.org">Gabriele Baldoni</a>
    </div>
    </div>
</div>

<div class="page-header" align="center-right">
  <h1><small>Come Trovarci?</small></h1>
</div>

<div id="map-canvas" style="width: auto; height: 400px;"></div>
<div>
  <div class="row">
    <div class="col-md-4">
      <br>
      <input id="address" type="textbox" value="La tua posizione" class = "form-control">
      </div>
    <div class="col-md-4">
      <br>
      <input type="button" value="Trova" onclick="codeAddress()" class = "btn btn-primary btn-xm">
      <br>
    </div>
    </div>

</div>
</body>