<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
</ol>
<div class="row">
  <div class="col-md-8">
    <br>
    <img src="http://www.soccerfollowers.net/skin/frontend/default/soccer/images/slider/slider6.jpg" class="img-rounded img-responsive">
  </div>
  <div class="col-md-4">
    <img src="http://images2.gazzettaobjects.it/methode_image/2014/10/27/Varie/Foto%20Varie%20-%20Trattate/4dc985a7d3687b6fe42105fb0fa7e9c0_169_l.JPG?v=20141028112443" class="img-rounded img-responsive">
    <br>
    <img src="http://images2.gazzettaobjects.it/methode_image/2014/10/26/Varie/Foto%20Varie%20-%20Trattate/616a75c8-5d44-11e4-a905-1daca036ea12_169_l.jpg?v=20141027135843" class="img-rounded img-responsive">
  </div>
</div>