<!--CON LA PRIMA RIGA DI CODICE IL CARRELLO NON VERRÀ VISUALIZZATO NEL CASO SIA VUOTO-->
<% unless cart.line_items.empty? %>
    <a href="#" class="list-group-item active">Your Cart</a>
    <table>
      <!--METODO CHE ITERA SU TUTTE LE COLLEZIONI CHE GLI VENGONO PASSATE-->
      <%= render(cart.line_items) %>
      <a href="#" class="list-group-item" align="right">Total:
        <span class="badge" align="right"><%= number_to_currency(cart.total_price)%></span>
        <br>
        <br>

        <div class="row">
          <div class="col-md-8" align="right">
            <%= link_to 'Empty cart', cart,  class:"btn btn-default", method: :delete,
                          data: { confirm: 'Are you sure?' } %>
          </div>
          <div class="col-md-4" align="left">
            <%= link_to "Checkout", new_order_path, class:"btn btn-danger", method: :get %>
          </div>
        </div>
      </a>
    </table>
<% end %>
<br>