<p>Benvenuto <%= @email %>!</p>

<p>Tu puoi confermare il tuo account cliccando il seguente link:</p>

<p><%= link_to 'Conferma Account', confirmation_url(@resource, confirmation_token: @token) %></p>
