<p>Ciao <%= @email %>!</p>

<p>Abbiamo ricevuto la tua richiesta di cancellazione dell'account.</p>
<p>Provvederemo quanto prima a rimuovere i suoi dati dal database</p>
<p>Cordiali Saluti. L'amministrazione</p>

