<p>Ciao <%= @resource.email %>!</p>

<p>Abbiamo ricevuto una richesta di modifica della password. Per effettuarla clicca sul seguente link:</p>

<p><%= link_to 'Cambia Password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se non vuoi effettuare questa operazione, per favore ignora questa mail.</p>
<p>La tua password non verrà modificata fin quando non si accederà al link di sopra per modificarla</p>
