<p>Ciao <%= @resource.email %>!</p>

<p>Il tuo account è stato bloccato in seguito ad un eccessivo numero di accessi errari</p>

<p>Clicca nel link seguente per sbloccare il tuo Account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
