<!DOCTYPE html>
<html>
<head>

  <!--GENERA IL LINK AL FOGLIO DI STILE DELL'APPLICAZIONE E SPECIFICA UNA OPZIONE CHE CONSENTE I TURBOLINK-->
    <%= render :partial => "shared/header"%>
</head>
<body class="<%= controller.controller_name %>">
<%= render :partial => "shared/navbar"%>
    <div class="container">
    <!--CON LA SEGUENTE CHIAMATA SI SOSTITUISCE TUTTO IL CONTENUTO DELLA PAGINA CON UN CONTENUTO SPECIFICO-->
    <%= yield %>
</div>
<div>
  <footer class="footer"><p align="center">EuropaStore - lo sport a portata di click</p></footer>
</div>


</body>
</html>
